:root {
    --main-color: rgb(32, 32, 102);
    --main-shadow: rgba(32, 32, 102, 0.568);
}

body {
    color: black;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    justify-content: end;
}

a {
    text-decoration: none;
}

.head {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.card {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    background: #f9f9f9;
}

@media only screen and (max-width: 600px) {
    .grid-3 {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}

.continar-title {
    text-align: center;
}